@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <style>
        .tab {
            display: inline-block;
            margin-left: 40px;
        }
    </style>
    <h2>Brief History of Chess</h2>
    <br />
    <h4>
        <span class="tab"></span>
        The history of chess can be traced back nearly 1500 years, although the earliest origins are uncertain. The earliest predecessor of
        the game probably originated in India, before the 6th century AD. From India, the game spread to Persia. When the Arabs conquered Persia,
        chess was taken up by the Muslim world and subsequently spread to Southern Europe. In Europe, chess evolved into roughly its current form in the 15th century.
    </h4>
    <h4>
        <span class="tab"></span>
        "Romantic chess" was the predominant chess playing style from the late 15th century to the 1880s. Chess games of this period emphasised more on quick,
        tactical maneuvers rather than long-term strategic planning. The Romantic era of play was followed by the Scientific, Hypermodern, and New Dynamism eras.
        In the second half of the 19th century, modern chess tournament play began, and the first official World Chess Championship was held in 1886. The 20th century saw great leaps
        forward in chess theory and the establishment of the World Chess Federation (FIDE). In 1997, a computer first beat a chess world champion in the famous Deep Blue versus Garry Kasparov match,
        ushering in an era of computer domination. Since then, computer analysis – which originated in the 1970s with the first programmed chess games on the market – has contributed to much of the development
        in chess theory and has become an important part of preparation in professional human chess. Later developments in the 21st century made the use of computer analysis far surpassing the ability of
        any human player accessible to the public. Online gaming, which first appeared in the mid-1990s, also became popular in the 21st century.
    </h4>
    <h4>
        <span class="tab"></span>
        Chess remains a highly popular pastime to this day. A 2012 survey found that "chess players now make up one of the largest communities in the world: 605 million adults play chess regularly".
        Chess is played at least once a year by 12% of British people, 15% of Americans, 23% of Germans, 43% of Russians, and 70% of Indian people in the ABC1 demographic.
    </h4>
</div>

<div class="row">
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 310px;
            height: 200px;
            border-width: 20px;
        }
    </style>
    <div class="col-md-4">

        <img class="center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/33/NMSLewisChessmen29.jpg/1920px-NMSLewisChessmen29.jpg" alt="Sample Photo 1" />
        <br /> <br />
        <b>
            The 12th-century Lewis chessmen in the collection of the National Museum of Scotland.
        </b>

    </div>
    <div class="col-md-4">
        <img class="center" src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Radha-Krishna_chess.jpg" alt="Sample Photo 2" />
        <br /> <br />
        <b>Krishna and Radha playing chaturanga on an 8×8 Ashtāpada</b>
    </div>
    <div class="col-md-4">
        <img class="center" src="https://render.fineartamerica.com/images/rendered/search/canvas-print/mirror/break/images/artworkimages/medium/1/egyptian-chess-players-sir-lawrence-alma-tadema-canvas-print.jpg" alt="Sample Photo 3" />
        <br /> <br />
        <b>Persian manuscript from the 14th century describing how an ambassador from India brought chess to the Persian court.</b>
    </div>
</div>